* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden;
  font-family: "Spline Sans Mono", monospace;
}

@media only screen and (max-width: 720px) {
  html {
    overflow-x: scroll;
  }
}

